@font-face {
    font-family: TextFont;
    src: url("file:///android_asset/Ubuntu-Medium.ttf")
}
img, [class^="image-"] {
    width: 250px;
    height: auto;
}

label {
    font-family: TextFont;
    font-size: medium;
    text-align: justify;
}

a {
    color: #66C7FF;
}
* {
    color: #F2F2F2;
}
